.footer {
    background-color: #f5f7fa;
    padding: 90px 0 0;

}

.footer .foot-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 150px;
}

footer .foot-container .social-contents {
    padding-bottom: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

footer .foot-container .social-contents .app {
    display: flex;
}

footer .foot-container .social-contents .app span {
    width: 230px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

footer .foot-container .social-contents .app a {
    text-decoration: none;
    color: #00b9f5;
    cursor: pointer;
    position: relative;
}

footer .foot-container .social-contents a img {
    margin-right: 10px;
    width: 100%;
}

footer .foot-container .social-contents .social-link a img {
    width: 25px;
    margin-right: 30px;
    cursor: pointer;
}

footer .foot-container .social-contents .social-link a .last-icon {
    width: 12px;
}

footer .foot-container .links .content {
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    font-size: 14px;
    color: #505050;
    font-weight: 700;
}

footer .foot-container .links .content:before {
    content: "";
    -ms-flex: 1 1;
    flex: 1 1;
}

footer .foot-container .links .content:before {
    border-bottom: 1px solid #ccc;
}

footer .foot-container .links .content img {
    height: 12px;
    margin-right: 2px;
}