@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    color: #000;
    height: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}

body,
button,
h1,
h2,
input
{
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    margin: 0;
    padding: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

a{
    text-decoration: none;
    color: #00baf2;
}
section{
    display: block;
}